<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <title>OpenLayers example</title>
    <meta charset="utf-8" />
</head>

<body>
    <h3>OpenLayers: Карта </h3>
    <div>Данный пример показывает как используя OpenLayers добавить в карту слой с сервера Zulu используя POST-запросы.</div>
	<div id="map" style="width: 100%; height: 80vh"></div>
    <script type="text/javascript">
		var zwsLayerNames = {{layer_list|safe}};

		var map = new ol.Map({
            target: 'map',
            layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				}),
			],
            view: new ol.View({
                center: ol.proj.fromLonLat({{CENTRE_CORD|safe}}),
                zoom: 13
            })
        });

		for (var i=0; i < zwsLayerNames.length; i++) {
		    let layer_name = String(zwsLayerNames[i]);
			let src_xyz = new ol.source.XYZ({});

			src_xyz.tileLoadFunction = function (imageTile, requestBody) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", location.protocol + '//' + location.hostname + '/zws', true);
				xhr.setRequestHeader('Authorization', 'Basic ' + '{{credentials|safe}}');
				xhr.responseType = "arraybuffer";
				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var uInt8Array = new Uint8Array(xhr.response);
						var i = uInt8Array.length;
						var binaryString = new Array(i);
						while (i--) {
							binaryString[i] = String.fromCharCode(uInt8Array[i]);
						};
						var data = binaryString.join('');

						imageTile.getImage().src = 'data:image/png;base64,' + window.btoa(data);
					};
				};

				xhr.send(requestBody);
			};

			src_xyz.tileUrlFunction = function (coord, pixel, projection) {
				var request = '<?xml version="1.0" encoding="UTF-8"?>';
				request += "<zulu-server service='zws' version='1.0.0'>";
				request += "<Command><GetLayerTile>";
				request += "<X>" + coord[1] + "</X>";
				request += "<Y>" + (-coord[2] - 1) + "</Y>";
				request += "<Z>" + coord[0] + "</Z>";
				request += "<Layer>" + layer_name + "</Layer>";
				request += "</GetLayerTile></Command>";
				request += "</zulu-server>";
				return request;
			};

			map.addLayer(new ol.layer.Tile({source: src_xyz}))
		};
    </script>
</body>

</html>